#cardsNavBox{
    max-width: 1140px;
    height: auto;
    padding: 50px;
    background-color: #F0F0F0;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 50px;
}
@media all and (max-width: 1240px){
    #cardsNavBox{
        grid-template-columns: 1fr 1fr; 
        width: 90vw;
        padding: 0px;
        background-color: white;
    }
     
}
@media all and (max-width: 767px){
    #cardsNavBox{
        grid-template-columns: 1fr;
        padding: 0px;
        border-radius: 10px;
    }
    
}